# vim: ft=jinja

{%- import_yaml 'ssh/defaults.yml' as default_settings %}
{%- import_yaml 'ssh/defaults_v5.yml' as default_v5_settings %}
{%- import_yaml 'ssh/defaults_v7.yml' as default_v7_settings %}
{% import_yaml 'ssh/defaults_v8.yml' as default_v8_settings %}

{%- set sshmap = salt['grains.filter_by']({
  'default': {},
  'Debian': {
    'package': 'openssh-server',
    'service': 'ssh',
  },
  'FreeBSD': {
    'service': 'sshd',
    'user': 'root',
    'group': 'wheel',
  },
  'RedHat': {
    'package': 'openssh-server',
    'service': 'sshd',
  },
},grain="os_family") %}

{%- set sshvermap = salt['grains.filter_by']({
  'CentOS': salt['grains.filter_by']({
    '7': default_v7_settings['sshd'],
  },grain="osmajorrelease"),
  'Debian': salt['grains.filter_by']({
    '3': default_v7_settings['sshd'],
    '9': default_v7_settings['sshd'],
    '10': default_v7_settings['sshd'],
    '11': default_v8_settings['sshd'],
  },grain="osmajorrelease"),
  'Devuan': salt['grains.filter_by']({
    '2': default_v7_settings['sshd'],
    '3': default_v7_settings['sshd'],
    '4': default_v8_settings['sshd'],
  },grain="osmajorrelease"),
  'FreeBSD': salt['grains.filter_by']({
    '11': default_v7_settings['sshd'],
  },grain="osmajorrelease"),
  'RedHat': salt['grains.filter_by']({
    '7': default_v7_settings['sshd'],
  },grain="osmajorrelease"),
},grain="os") %}


{%- do default_settings.sshd.update(sshvermap) %}
{%- do default_settings.sshd.update(sshmap) %}

{%- set sshd = salt['pillar.get'](
  'sshd',
  default = default_settings.sshd,
  merge = true
) %}
